<div id="hero">

  <%= render 'shared/hero' %>

</div>

<div id="features">

  <%= render 'shared/eight_features' %>

</div>

<div id="cta">

  <%= render 'shared/cta' %>

</div>

<div id="clients">

  <%= render 'shared/partners' %>

</div>