@font-face {
	font-family: 'nautilus';
	src: url('./fonts/nautilus/nautilus-webfont.eot');
	src: url('./fonts/nautilus/nautilus-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/nautilus/nautilus-webfont.woff2') format('woff2'),
		 url('./fonts/nautilus/nautilus-webfont.woff') format('woff'),
		 url('./fonts/nautilus/nautilus-webfont.ttf') format('truetype'),
		 url('./fonts/nautilus/nautilus-webfont.svg#nautilus_pompiliusregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'geared_slab';
	src: url('./fonts/geared-slab/gearedslab-webfont.eot');
	src: url('./fonts/geared-slab/gearedslab-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./fonts/geared-slab/gearedslab-webfont.woff2') format('woff2'),
		 url('./fonts/geared-slab/gearedslab-webfont.woff') format('woff'),
		 url('./fonts/geared-slab/gearedslab-webfont.ttf') format('truetype'),
		 url('./fonts/geared-slab/gearedslab-webfont.svg#geared_slabregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'montserrat-bold';
	src: url('./fonts/montserrat/montserrat-bold-webfont.eot');
	src: url('./fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
	url('./fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
	url('./fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
	url('./fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('./fonts/montserrat/montserrat-regular-webfont.eot');
	src: url('./fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
	url('./fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
	url('./fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
	url('./fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'roboto-light';
	src: url('./fonts/roboto/Roboto-Light-webfont.eot');
	src: url('./fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
	url('./fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
	url('./fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('./fonts/roboto/Roboto-Regular-webfont.eot');
	src: url('./fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
	url('./fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
	url('./fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}