@import 'variables';
@import 'mixins';

.footer {
	background-color: $off-white;
	@include clearfix();

	* {
		font-family: $roboto-light;
	}

	.small-footer-backimage {
		img {
			@media (max-width: 600px) {
				width: 100%;
				padding-bottom: 26px;
			}
		}
	}

	.footer-links {
		width: 44%;
		padding-bottom: 10px;

		* {
			color: $blue;
		}

		a, h3 {
			margin-bottom: 20px;
		}

		a {
			font-size: 11px;
			display: table;
		}

		h3 {
			font-family: $montserrat-bold;
		}

		&.left-links {
			float: left;
			margin-left: ($small-side-padding / 2);
		}

		&.right-links {
			float: right;
			margin-right: ($small-side-padding / 2);

			span {
				display: block;
				@include clearfix();
			}

			a, h3 {
				float: right;
				text-align: right;
			}
		}
	}

	#return-to-top {
		padding-bottom: 60px;

		* {
			width: 50%;
			margin: 0 auto;
			text-align: center;
		}

		.to-top-caret {
			color: $gold;
			font-size: 90px;
			line-height: 50px;
		}

		span {
			font-size: 12px;
			display: block;
		}
	}

	.social-icons {
		padding-bottom: 60px;
		display: table;
		margin: 0 auto;

		.icon {
			$size: 40px;

			width: $size;
			height: $size;
			border-radius: 50%;
			display: inline-block;
			background-color: $blue;
			margin: 0 10px;
			text-align: center;

			span {
				padding-left: 3px;
				text-align: center;
				font-size: 22px;
				line-height: $size;
				color: $off-white;
				font-family: $font-awesome;
			}
		}
	}

	.copyright {
		padding-bottom: 10px;
		display: table;
		margin: 0 auto;

		span {
			font-size: 10px;
			display: inline-block;
			letter-spacing: 1px;

			@media (max-width: 600px) {
				padding-bottom: 10px;
				display: block;
				margin: 0 auto;
				text-align: center;
			}

			&.separator {
				padding: 0 4px;
				font-size: 13px;

				&:before {
					content: "|";
				}

				@media (max-width: 600px) {
					display: none;
				}
			}

			a {
				letter-spacing: 1px;

				&:visited {
					color: $blue;
				}
			}
		}

	}
}