@import 'variables';
@import 'menu';

.header {
	width: 100%;

	.top-nav {
		height: 60px;
		background-color: rgba(3, 38, 72, .8);
		position: relative;

		.hamburger-menu {
			padding: 3px;
			height: 30px;
			width: 30px;
			top: 15px;
			font-size: 24px;
			line-height: 24px;
			color: $gold;
			position: absolute;
			right: 15px;
			border: 2px solid $gold;
			border-radius: 8px;
		}

		.hamburger-menu:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 3px;
			right: 3px;
			width: 20px;
			height: 2px;
			background: $gold;
			box-shadow:
				0 0.25em 0 0 $gold,
				0 0.5em 0 0 $gold;
		}

		#rivendell-flag {
			width: 130px;
			display: block;
			padding-top: 60px;
			margin: 0 auto;
		}
	}
}