//Colors
$blue: #032648;
$gold: #c5af78;
$off-white: #edeae2;
$grey: #474e55;

//Fonts
$font-awesome: 'FontAwesome';
$roboto: 'roboto', sans-serif;
$nautilus: 'nautilus', cursive;
$geared: 'geared_slab', sans-serif;
$montserrat: 'montserrat', sans-serif;
$roboto-light: 'roboto-light', 'roboto', sans-serif;
$montserrat-bold: 'montserrat-bold', 'montserrat', sans-serif;

//Padding
$small-side-padding: 10%;
$med-small-side-padding: 15%;