@import "../includes/mixins";
@import "../includes/variables";

.border-button {
	font-family: $montserrat-bold;
	display: table;
	font-size: 14px;
	line-height: 40px;
	padding: 0 8px;
	width: auto;
	border: 3px solid $gold;
	color: #ffffff;
	@include no-select();
}


/** ----- Basic Elements ------------------------------------------------------------------------------------------- **/
p {
	@media (max-width: 500px) {
		padding: 30px $small-side-padding;
	}
	@media (min-width: 501px) and (max-width: 700px) {
		padding: 30px $med-small-side-padding;
	}

	font-family: $roboto-light;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
}

a {
	text-decoration: none;
}