<div class="col-md-#{md} col-sm-6 col-xs-12 text-center">

    <div class="album-cover">

        <%= link_to image_tag('gallery-thumb-1.jpg', class:'img-responsive'), "#" %>

        <div class="desc">

            <%= content_tag :h4, link_to('Album Lorem Ipsum', "#") %>

            <p>
              Integer ornare nisl tortor, sed condimentum metus pulvinar ut. Etiam ac pretium nunc. Donec
              porttitor erat non nibh pellentesque vehicula. Vestibulum tincidunt
            </p>

        </div>

    </div>

</div>