<div class="address">
  <h3>Our address:</h3>
  <p>
    San Diego Christian College<br />
    Rivendell Program<br />
    6820 Auto Club Road, Suite T<br />
    Bloomington, MN  55438<br />
    USA
  </p>
</div>

<div class="phone">
  <h3>By phone:</h3>
  <p>1-952-996-1451</p>
</div>

<div class="social">
  <h3>Social media:</h3>
  <%= link_to icon('facebook-official', nil, class:'fa-3x m-r-md'), @facebook_url, target:'_blank' %>
  <%= link_to icon('twitter', nil, class:'fa-3x m-r-md'), @twitter_url, target:'_blank' %>
  <%= link_to icon('pinterest', nil, class:'fa-3x'), @pinterest_url, target:'_blank' %>
</div>