<h3 class="title">Contact</h3>

<p>
  Contact us to schedule a visit:
</p>

<%= content_tag :p, icon('phone', @phone_number), class:'tel' %>

<p class="email">
  <%= icon('envelope') %>
  <%= mail_to @inquiry_email %>
</p>