<h3 class="title">Contact</h3>

<p>
  Contact us to schedule a visit:
</p>

<%= content_tag :p, icon('phone', '952-996-1451'), class:'tel' %>

<p class="email">
  <%= icon('envelope') %>
  <%= mail_to 'inquiries@educo.com' %>
</p>