<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h2>An Exceptional College Core Program</h2>
      <p>
        We bring relevancy and significance to the core curriculum.
      </p>
    </div>
  </div>

  <div class="row feature">
    <div class="col-md-6 info">
      <h4>Study one subject at a time...</h4>
      <p>
        Each subject deserves your full attention.  Our sequenced, modular curriculum will enable you to discover the
        rich, profound significance God placed in each liberal arts subject.
    </div>
    <div class="col-md-6 image" %>
      <%= image_tag 'focus-01.png', class:'img-responsive' %>
    </div>
  </div>

  <%= content_tag :div, nil, class:'divider' %>

  <div class="row feature backwards">
    <div class="col-md-6 info">
      <h4>...in the flow of the biblical narrative.</h4>
      <p>
        Each subject builds upon the previous subjects in the same manner that God created the heavens and
        the earth before He created man, and how man created society that birthed many nations.
      </p>
    </div>
    <div class="col-md-6 image" %>
      <%= holder_tag '371x246', 'flow of biblical narrative 371x246', {}, class:'img-responsive' %>
    </div>
  </div>

</div>