<div class="container">

    <h1 class="hero-text animated fadeInDown">
      Spend your first 16 months<br /> of college with us
    </h1>

    <div class="cta animated fadeInDown">

      <%= render_hero_cta %>

    </div>

  <%= content_tag :figure, nil, class:'img' %>

</div>