<div class="container">

    <h1 class="hero-text animated fadeInDown">
      Instill meaning<br /> back into education
    </h1>

    <p class="sub-text animated fadeInDown">
      Study the gen eds like no one else.
    </p>

    <div class="cta animated fadeInDown">
        <%= link_to 'Request a brochure', new_lead_path, class:'button-outline' %>
    </div>

  <%= content_tag :figure, nil, class:'img' %>

</div>