<div class="container">

    <h1 class="hero-text animated fadeInDown">
      Spend your first 16-months<br /> of college with us
    </h1>

    <div class="cta animated fadeInDown">
        <%= link_to 'Request a brochure', new_lead_path, class:'button-outline' %>
    </div>

  <%= content_tag :figure, nil, class:'img' %>

</div>