<div class="container">

  <div class="row">
    <div class="col-md-12">

      <p class="lead">
        San Diego Christian College is accredited by the Senior Commission of the Western Association of Schools and Colleges.
      </p>

      <figure class="logos">
        <%= link_to image_tag('SDCLogowhite-873wTag.png', alt:'SDCC logo'), 'http://sdcc.edu/academics/accreditation', target:'_blank' %>
        <%= link_to image_tag('WASC-logo.png', alt:'WASC logo'), 'http://www.wascsenior.org/', target:'_blank' %>
      </figure>

    </div>
  </div>

</div>