<div class="container">

  <div class="row">
    <div class="col-md-12">
      <p class="lead">We are a regionally accredited program of San Diego Christian and the Western Association of Schools and Colleges.</p>
      <div class="logos">
        <%= image_tag 'SDCC-logo.png' %>
        <%= image_tag 'WASC-logo.png' %>
      </div>
    </div>
  </div>

</div>