<div class="container">

  <div class="row">
    <div class="col-md-12">

      <p class="lead">
        San Diego Christian College is accredited by the Senior Commission of the Western Association of Schools and Colleges.
      </p>

      <div class="logos">
        <%= link_to image_tag('SDCLogowhite-873wTag.png'), 'http://sdcc.edu/academics/accreditation', target:'_blank' %>
        <%= link_to image_tag('WASC-logo.png'), 'http://www.wascsenior.org/', target:'_blank' %>
      </div>

    </div>
  </div>

</div>