<div class="container">

  <div class="row header">
    <div class="col-md-12">

      <h3 class="m-b-xl">Live a Life Worth Having: Emily’s Experience</h3>

    </div>
  </div>

  <div class="row">
    <div class="embed-responsive embed-responsive-16by9">

      <iframe src="https://www.youtube.com/embed/TT8mqqlsyiE" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>

</div>