<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h3>Spend five months in Italy studying Fine Arts</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 slide-wrapper">

      <div class="slideshow">
        <%= content_tag :div, nil, class:'btn-nav prev' %>
        <%= content_tag :div, nil, class:'btn-nav next' %>
        <div class="slide active">
          <%= image_tag 'slider/female-doctor1.png' %>
        </div>
      </div>

    </div>
  </div>

</div>