<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h3>Spend five weeks in Italy studying Fine Arts</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 slide-wrapper">

      <div class="slideshow">

      </div>

    </div>
  </div>

</div>