<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="wrapper clearfix">
        <h4>70% of prospects that visit us enroll with us.  Odds are you will too.</h4>
        <%= link_to 'Request a free visit', new_visit_path, class:'button button-small' %>
      </div>
    </div>
  </div>

</div>