<div class="container">

  <div class="row header">
    <div class="col-md-12">
      <h3 class="logo">
        <%= link_to 'Rivendell', root_path %>
      </h3>
      <h4>Download your Rivendell brochure!</h4>
      <p>
        Your application fee will be waived if you apply within 30 days.
      </p>
    </div>
  </div>

  <div class="row m-t-lg">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12 text-center">

          <%= link_to 'Download my brochure!', 'http://issuu.com/therivendellprogram/docs/brochure_awesomeness',
                      class:'btn btn-success btn-lg' %>

        </div>
      </div>

    </div>
  </div>

</div>
