<div class="your-journey">
    <h2>Your Journey</h2>
    <div class="arched-circle circled-number"><span id="cn1">1</span></div>
    <span class="journey-level">Theos</span>
    <div class="arched-circle circled-number"><span id="cn2">2</span></div>
    <span class="journey-level">Cosmos</span>
    <div class="arched-circle circled-number"><span id="cn3">3</span></div>
    <span class="journey-level">Anthropos</span>
    <div class="arched-circle circled-number"><span id="cn4">4</span></div>
    <span class="journey-level">Ethnos</span>
    <p>Life is comprised of many things and you have thoughts about many of them. But have you really examined
        them? Have you found the answers you have been looking for? Every journey begins with the first step.
    </p>
    <p class="line-aside">The path is waiting...</p>
</div>
<div class="cloudy-quote">
    <div class="bottom-triangle"></div>
							<span class="quote">
								&#8220;This is a great big old quote that hangs out up in the clouds.
								Very interesting things go here and inspire people.&#8221;
							</span>
    <span class="author">&#8210; Absolute Genius</span>
</div>
<div class="about-us">
    <h2>We seek the Truth</h2>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
    </p>
    <div class="icon">
        <h3 class="circled-letters method">METHOD</h3>
        <span class="fa-search"></span>
    </div>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
    </p>
    <div class="icon">
        <h3 class="circled-letters pedagogy">PEDAGOGY</h3>
        <span class="fa-cloud"></span>
    </div>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
    </p>
    <div class="icon">
        <h3 class="circled-letters curriculum">CURRICULUM</h3>
        <span class="fa-book"></span>
    </div>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
    </p>
</div>
<div class="testimonials">
    <ul id="testimonial-slider" class="quote-slider">
        <li>
									<span class="quote student-quote">
										&#8220;Student quotes and testimonials about how the education,
										experience and family at Rivendell are absolutely amazing.&#8221;
									</span>
        </li>
        <li>
									<span class="quote student-quote">
										&#8220;Student quotes and testimonials about how the education,
										experience and family at Rivendell are absolutely amazing.&#8221;
									</span>
        </li>
        <li>
									<span class="quote student-quote">
										&#8220;Student quotes and testimonials about how the education,
										experience and family at Rivendell are absolutely amazing.&#8221;
									</span>
        </li>
    </ul>
</div>
<div class="welcome-block">
    <div class="bottom-triangle"></div>
    <span class="welcome-to">WELCOME TO</span>
    <h3>Rivendell</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
        exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea com.
    </p>
    <div class="page-links">
        <div class="page-link"><a href="" class="fa-caret-right">Leaders</a></div>
        <div class="page-link"><a href="" class="fa-caret-right">Investors</a></div>
        <div class="page-link"><a href="" class="fa-caret-right">Foundation</a></div>
        <div class="page-link"><a href="" class="fa-caret-right">Faculty</a></div>
        <div class="page-link"><a href="" class="fa-caret-right">FAQ</a></div>
    </div>
</div>
<div class="admissions">
    <a class="border-button" href="">ADMISSIONS</a>
    <div class="admissions-web">
        <a href="" class="admissions-link">
            <div class="arched-circle"><span>t</span></div>
            <span>tuition</span>
        </a>
        <a href="" class="admissions-link">
            <div class="arched-circle"><span>p</span></div>
            <span>process</span>
        </a>
        <a href="" class="admissions-link">
            <div class="arched-circle"><span>s</span></div>
            <span>student attractions</span>
        </a>
        <a href="" class="admissions-link">
            <div class="arched-circle"><span>f</span></div>
            <span>financial aid</span>
        </a>
        <a href="" class="admissions-link">
            <div class="arched-circle"><span>a</span></div>
            <span>applications</span>
        </a>
    </div>
</div>
<div class="character-through">
    <span>we build</span>
    <span class="sandwich">CHARACTER</span>
    <span>through</span>
    <div class="characterousel">
        <ul id="characterousel-slider" class="elements">
            <li><span>sacrificial loving</span></li>
            <li><span>residential living</span></li>
            <li><span>experiential learning</span></li>
        </ul>
        <div class="arrow left fa-angle-left"></div>
        <div class="arrow right fa-angle-right"></div>
    </div>
</div>
<div class="get-connected">
    <h4>LETS CONNECT</h4>
    <%= render 'form' %>             <!-- render form partial -->
    <div class="contact-info">
        <span>6820 Auto Club Road</span>
        <span>Suite T</span>
        <span>Bloomington, MN 55438</span>
        <span>Tel: <%= @phone_number %></span>
        <span>Fax: <%= @fax_number %></span>
        <span>Email Click Here</span>
        <span><a href="">Get directions<i class="fa-angle-right"></i></a></span>
    </div>
</div>
<div class="map-image">
    <div class="map-view">
        <a class="border-button" href="https://www.google.com/maps/place/Rivendell+Sanctuary/@44.7953077,-93.3701341,16z/data=!4m6!1m3!3m2!1s0x0:0x895615f456f630fc!2sRivendell+Sanctuary!3m1!1s0x0:0x895615f456f630fc">View in Maps</a>
    </div>
</div>
<div class="apply-section">
    <a class="border-button" href="">APPLY TODAY</a>
</div>