<section id="showcase">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h3>Rivendell Lecture Series</h3>
        <p>The best selection of our curriculum made public for you.</p>
      </div>
    </div>

    <div class="row"></div>
      <div class="col-md-12">

        <% @events.each do |event| %>

            <%= render event %>

        <% end %>

      </div>
    </div>

  </div>
</section>
