<p>
  Rivendell is a program of San Diego Christian College.<br /><br />

  San Diego Christian College is accredited by the Senior Commission of the Western Association of Schools and Colleges (WASC).
  WASC is the regional accrediting body authorized by the U.S. Department of Education to ensure the academic integrity of
  its member institutions.<br /><br />

  Accreditation means that the Commission has determined that the College offers educational opportunities in a manner consistent
  with Commission standards, and that it is likely to continue to do so.<br /><br />

  <i>Direct Inquiries To:</i><br /><br />
   <b>WASC</b><br>
  985 Atlantic Avenue, Suite 100<br />
  Alameda, CA 94501<br />
  Phone: (510) 748-9001<br /><br />

  San Diego Christian College is registered as a Private Institution with the Minnesota Office of Higher Education pursuant to
  sections 136A.61 to 136A.71. Registration is not an endorsement of the institution. Credits earned at the institution may not
  transfer to all other institutions.
</p>

