<h3 class="text-center font-thin font-italic">
  Beliefs – our operating system for living – are formed by more than facts.
</h3>

<p class="m-t-lg">

  A cohort is made up of around 30 students and 2 faculty. This true community of learners is rooted in
  discussion over lectures, though external experts will be informing each cohort. They will stay together
  the entire time building qualities that allow for rich thought, lively discussions, and exciting experiences.

  <br /><br />

  Discussions are ordered through centering questions. Each day question successively builds upon previous
  days of questioning. Through this method of discussion students find/reveal/discover there own beliefs
  on a variety of topics from Theology to Economics – examining them in the light of General and Special
  Revelation. After all, the un-examined life is not worth living.

  <br /><br />

  More than just talk, class time will involve hands-on exercises, practical applications, actual
  implementation, and critical reflection.

</p>
