<p>

  This term represents our pursuit of Creation as the material from which life operates.
  You will perform feats of mathematical magic as the ancients once did as well as engineering
  marvels and biological spectacles, all with the goal of both experiencing and experimenting
  with the physical world.

  <br /><br />

  Your classroom experience will take a much more hands-on approach as you adventure out of the four
  walls to the grand laboratory of the living. In critical reflection on the conclusions reached through
  lab-work you will enter into contemporary cultural debates surrounding the “meaning of life,” and
  “origins of the cosmos.”

  <br /><br />

  As the second set of modules in your Rivendell experience this time will focus on your manners,
  etiquette, and respect – hoping to provide you with the ‘soft’ skills that are necessary for
  success in life long after you leave.

  <br /><br />

  The second leg of your journey ends by zooming in on one of creation’s most unique creatures – human beings!

</p>
