<p>

  This term represents our pursuit of mankind as agents with unique capacities for creational stewardship.
  You will explore current psychological and sociological theories regarding man and families in addition
  to mankind’s unique creative capacities.

  <br /><br />

  You will have the opportunity to ask and answer fundamental questions like “What is man?” and “What
  is family?” This term takes a far more personal approach with discussion times being divided into even
  smaller groups in order to facilitate personal application of your discoveries.

  <br /><br />

  As the third set of modules in your Rivendell experience, this time will focus on your cohort’s service
  of the community both internally and externally.  You will have opportunity to serve within your cohort
  and within the larger Twin Cities community.

  <br /><br />

  The third leg of your journey ends with a jolt into the organization of large communities – governments
  and economies!

</p>
