<div class="row">

  <article class="contact-form col-md-8 col-sm-7 page-row">

    <h3 class="title">Get in touch</h3>

    <p>
      We'd love to hear from you.
    </p>

  </article>

  <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">

    <%= render 'sidebar' %>

  </aside>

</div>          <!-- TODO:  IMPLEMENT POPULI CONTACT FORM -->

<div class="page-row">

  <article class="map-section">

    <h3 class="title">How to find us</h3>

    <div id="map">

      <iframe width="1140" height="300" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=6820%20Auto%20Club%20Road%2C%20Bloomington%2C%20MN%2C%20United%20States
              &key=AIzaSyBcY2DWp71QhQzJQJUf0zY6QjoJ6dkkvYQ">
      </iframe>
    </div>

  </article>

</div>


