<p>
  San Diego Christian’s Minnesota Campus is located in Bloomington, MN, a suburb of the Twin Cities metropolitan area.
  Our beautiful 40-acre campus sits on a wooded bluff just north of the Minnesota River and just west of the Minnesota
  Valley Country Club.<br /><br />

  Our address is:<br /><br />

  6820 Auto Club Circle, Suite T<br />
  Bloomington, MN 55438<br /><br />
</p>

<p>
  Feel free to ask us any question using the form below.  Someone from our staff will answer your inquiry shortly.
</p>

