<h1>Rivendell Program</h1>

<%= content_tag :p, "Hi, #{@contact.name}," %>

<p>Thank you for inquiring about The Rivendell Program.  One of our Admissions Counselors will be in touch with you shortly.</p>

<p>Warm Regards,</p>

<p>The Rivendell Program</p>