<%= content_tag :h1, @page_title, class:'text-danger text-center' %>

<%= content_tag :p, @message, class:'lead text-center' %>

<p class="text-center">

  <%= link_to 'OK', :back, class:'btn btn-lg, btn-primary' %>

</p>
