<section class="widget has-divider">
  <h3 class="title">Job Vacancies</h3>
</section>

<section class="widget has-divider">
  <h3 class="title">Video Tour</h3>
</section>

<section class="widget">
  <h3 class="title">Contact</h3>
</section>