<section class="widget has-divider">
    <%= render 'shared/download_prospectus' %>
</section>

<section class="widget has-divider">
    <%= render 'shared/events' %>
</section>

<section class="widget">
    <%= render 'shared/contact' %>
</section>