<div class="row page-row">

  <article class="faq-wrapper col-md-8 col-sm-7">

    <div class="panel-group" id="faq-accordion">

        <% @faqs.each do |faq| %>

            <div class="panel panel-default">

                <div class="panel-heading">

                  <h4 class="panel-title">
                    <%= link_to faq.question, "#collapse-#{faq.id}", class:'collapsed',
                                data: { toggle:'collapse', parent:'#faq-accordion' } %>
                  </h4>

                </div>

                <div id="collapse-<%= faq.id %>" class="panel-collapse collapse">

                  <div class="panel-body">
                    <%= faq.answer %>
                  </div>

                </div>

            </div>

        <% end %>

    </div>

  </article>

  <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
    <%= render 'sidebar' %>
  </aside>

</div>
