<div class="row page-row">

  <article class="welcome col-md-8 col-sm-7">
    <h3 class="title">Welcome to EDUCO</h3>
  </article>


  <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
    <%= render 'sidebar' %>
  </aside>

</div>

