<p>
  Education today has become synonymous with mere book learning, absent of any action. One of the great
  challenges currently facing Christian education is how to transition students from simply knowing the principle
  of self-sacrifice to becoming actual living sacrifices.  Through community service projects students come to
  know what a “crucified life” feels like; what “loving my enemies” tastes like; what “going the second mile”
  sounds like.
</p>

<p>
  Throughout the program we reach into the local community to care for the poor, the widow, the orphan,
  the elderly, and the handicapped.  We restore beauty by planting gardens, mending fences, and painting houses.
  For what good is it to cognitively know the principle of self-sacrifice, if we never become an actual
  living sacrifice?
</p>