<div class="col-md-12 info">

  <h4>Deadlines</h4>

  <p>
    Applicants are encouraged to complete the application as quickly as possible, since a limited number of seats are available.
    Please call our Main Office with questions on availability: (952) 996-1451.
  </p>

  <p>
    Acceptance to The Rivendell Program does not guarantee admission into the program. Admission is confirmed by
    the Enrollment Reservation Deposit. This deposit secures the student’s spot in class, and will be received
    on a first-come, first-served basis. The deposit is applied toward the student’s first semester tuition.
  </p>

  <ul>
    <li>U.S. Student Enrollment Reservation Deposit: $500 (non-refundable)</li>
    <li>
      International Student Enrollment Reservation Deposit: $1,000 (this deposit is fully refundable should an
      International student’s visa application be denied)
    </li>
  </ul>

</div>