<p>
  Encapsulated in the Rivendell Program philosophy is the goal to spur students onto understanding their health
  holistically.  This means taking into consideration how you treat your body and your soul, paying attention
  to how self-care bolsters physiology, space and cleanliness affects psychology, how self-discipline yields
  productivity, and how habits determine proclivity.  Our program accepts the Bible’s assertion that man’s body
  has been designed to be the temple of God, therefore we seek to inspire lives that value:
</p>

<p class="lead">The Holy</p>

<p>
  We actively encourage students to stay accountable, tidy, motivated, and hard working.
</p>

<p>
  Rivendell seeks to encourage students onto success by:

  <ul>

    <li>
      Supporting students in looking after their classmates when sick, unmotivated, or hurting
      (bringing them meals, doing their laundry, reading them their homework, etc.).
    </li>
    <li>Encouraging students to administer creativity in making their classroom their own.</li>
    <li>Administering weekly hall/room-checks for cleanliness.</li>
    <li>Operating a premium student success center offering desired aid in school work, life skills, and personal counseling.</li>

  </ul>

</p>

<p class="lead">The Healthy</p>

<p>
  We encourage students to get outside, stay active, and maintain an awareness of what they are consuming.
</p>

<p>
  The Rivendell Program provides multiple outlets for students to stay active on campus including:

  <ul>

    <li>Miles of riverside hiking trails</li>
    <li>Semesterly camping trips</li>
    <li>Various intramurals</li>
    <li>A soccer & football field</li>
    <li>A full size gym</li>
    <li>A student exercise room</li>
    <li>Weight training</li>
    <li>Various fitness activities</li>

  </ul>

</p>