<p>
  A study conducted by Stanford Research Institute, Harvard University and the Carnegie Foundation discovered:
</p>

<blockquote>
  <p>
    “85 % of the reason people get a job, keep that job, and move ahead in that job has to do with their
    people skills and people knowledge. Only 15% is the result of a technical skill.”
  </p>
</blockquote>

<p>
  The collapse of the family, the loss of a moral code and the media’s constant promotion of bad behavior
  have lowered traditional standards of manners, etiquette and respect to an all time low. Staff and Faculty aim
  to restore the lost art of manners, etiquette, respect and other nuances of civility.  Our desire is to
  see future spouses, parents and citizens counter this trend.
</p>

<p>
  As part of our program, students are schooled in the following areas:

  <ul>

    <li>Proper protocol concerning greetings and salutations</li>
    <li>Eye contact</li>
    <li>Nonverbal communication</li>
    <li>Courtesy and respect for others, including peers, opposite sex, elderly and authority figures</li>
    <li>Formal dining etiquette</li>
    <li>People skills</li>

  </ul>

</p>

