<p>
  A recent study conducted by Stanford Research Institute, Harvard University and the Carnegie Foundation discovered:
</p>

<blockquote>
  <p>
    “85 % of the reason people get a job, keep that job, and move ahead in that job has to do with their
    people skills and people knowledge. Only 15% is the result of a technical skill.”
  </p>
</blockquote>

