<p>
  When students engage with their culture or enter into a vocation, it is paramount that their daily actions and
  decisions be conducted with Christ-like character. This will define their capacity to be leaders in their
  professions. Without skill in navigating the complex moral and ethical choices of our time, the individual is
  destined to become just another face in the crowd—one whose character and behavior is no different from their
  non-Christian colleagues.
</p>

<p>
  The Rivendell program incorporates the disciplines of prayer, Bible meditation, worship, Bible study and
  other character-building activities. These activities are essential for knowing God and, when correctly
  applied, result in a deep transformation of the inner man that leads to outward, Christ-like manifestations.
</p>