<div class="container">

  <div class="row info">
    <div class="col-md-12">

      <%= content_tag :h1, link_to('Rivendell Program', '#') %>

      <h3>Important Announcement</h3>

    </div>
  </div>

  <div class="row announce">
    <div class="col-md-12">

      <p class="lead">
        Worldview Education Company has in the past marketed the Rivendell 5 Pursuits Program for San
        Diego Christian College. Please note Worldview Education is no longer marketing this program
        for the SDCC Campus in Bloomington, Minnesota.  For those interested in other educational
        opportunities with SDCC, please visit:
        <%= link_to 'SDCC', 'http://www.sdcc.edu', target:'_blank' %>'s website.
      </p>

    </div>
  </div>

  <div class="row announce">
    <div class="col-md-12">

      <p class="lead">
        Worldview Education Company is a developer and marketer of educational solutions and has several
        relationships with educational institutions which use its innovative methods, books, software
        and/or complete curricula. To locate the institutions which use the cohort model, their
        Critical Thinking Methods & Software and Coram Deo Classical Series, please visit:
        <%= link_to 'Worldview Education Company', 'http://www.worldview.education/?page_id=30', target:'_blank' %>.
      </p>

    </div>
  </div>


</div>