<section id="tabs">
  <div class="container">

    <div class="row header">
      <div class="col-md-12">
        <h3>Apply to the Rivendell Program</h3>

        <p>Complete the form below and we will send you instructions on completing your application.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-2 info">
        <iframe class="m-t-lg" src="https://rivendell.populiweb.com/router/admissions/onlineapplications/index"
                width="640" height="500" frameborder="0" seamless="seamless"></iframe>
      </div>
    </div>

  </div>
</section>