<div id="blogpost-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <%= content_tag :div, image_tag('communally.jpg', class:'img-responsive'), class:'main-pic' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 post">

        <div class="title">
          Experience the college core <strong><em>Communally</em></strong>
        </div>
        <div class="author">
          “The next best thing to being wise oneself is to live in a circle of those who are.” ― C.S. Lewis
        </div>

        <div class="content">

          <p>
            San Diego Christian College is truly unique when it comes to understanding and experiencing the power of a
            Christian community.
          </p>

          <p>
            The Rivendell program on our Minnesota Campus employs IN-COMM education, where learning takes place withIN-COMMunity.  Fifteen to
            thirty students, two faculty and one mentor embark on an educational journey together, remaining
            a unit for the duration of the program.  In other words, students never change classes, classmates
            or professors.
          </p>

          <p>
            Patterned after Jesus’s discipleship model, our cohort education encourages a more
            dynamic, collaborative, and supportive learning environment.
          </p>

          <p>
            Not limited to one-hour, three days a week class segments, faculty are provided the opportunity to have:

            <ol>

              <li>the concentrated and sustained time to impact a life</li>
              <li>the platform to merge conceptual knowledge and application</li>
              <li>the opportunity to observe how students live in relation to what they learn</li>
              <li>the opportunity to model truth</li>

            </ol>

          </p>

          <p>
            In addition to academic benefits, cohort education brings the opportunity to practice the second
            part of the Great Commandment to “love your neighbor.”  How?  Sectarian groups dividing the
            in-crowd and the out-crowd; rich and poor; cool and un-cool; athletes and artists; black and
            white; etc. are challenged.  All learn to participate as one unit.  Students learn to share,
            depend, trust, and most importantly love one another based on intrinsic value (who they are)
            rather than extrinsic value (what they look like).
          </p>

          <p>
            <em>
              Please note that while students have the opportunity to experience their own intimate community
              of 15-30 classmates, they also live on a traditional college campus giving them access to many
              other students.
            </em>
          </p>

        </div>

        <div class="other-posts">
          <%= link_to '← Progress through the college core Sequentially', academics_sequentially_path, class:'prev' %>
          <%= link_to 'Journey through the college core Globally →', academics_globally_path, class:'next pull-right' %>
        </div>

      </div>
    </div>

  </div>
</div>