<div id="blogpost-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <%= content_tag :div, image_tag('globally.jpg', class:'img-responsive'), class:'main-pic' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 post">

        <div class="title">
          Journey through the college core <strong><em>globally</em></strong>
        </div>
        <div class="author">
          “Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner
          of the earth all of one’s lifetime.” – Mark Twain
        </div>

        <div class="content">

          <blockquote>
            <p>
              “Travel is fatal to prejudice, bigotry and narrow mindedness, and many of our people need it sorely on these accounts.”
            </p>
            <footer>Mark Twain</footer>
          </blockquote>

          <p>
            Nothing broadens your perspective on life and challenges your worldview like traveling abroad.
            Open your eyes to the richness, beauty and traditions of other cultures and magically return home
            with a greater appreciation for your own.
          </p>

          <p>
            SDC Rivendell provides the opportunity to break out of your shell, embrace new cultures, expand your
            palette and yes, even enlarge your resume as companies look for overseas experience.
          </p>

          <p>
            Travel with purpose as we connect the Fine Arts module with five weeks in Italy, specifically Rome,
            Florence, Venice, and Assisi — the mecca of the High Renaissance period. Experience the genius of
            the Sistine Chapel, the Statue of David, and Raphael’s ‘The School of Athens’ Fresno in person.
          </p>

          <p>
            Your studies in Italy provide a theoretical and practical overview of the history, philosophy
            and most significant productions that shaped Western art.  Along the way you will:

            <ul>

              <li>Develop a connoisseur’s eye for beauty by unearthing the contextual significance and theistic undertones of art</li>
              <li>Discuss the social significance and moral implications of artwork</li>
              <li>Interpret the story portrayed by the artist and analyze their narrative with the critical thinking skills learned back in the states</li>
              <li>Acquire skills to commentate by developing a sensitivity to aesthetic methodologies, styles, and functions present in pieces put before you</li>
              <li>Gaze wondrously at a single piece for hours as you study and evaluate it’s message and composition</li>

            </ul>

          </p>

        </div>

        <div class="other-posts">
          <%= link_to '← Experience the college core communally', academics_communally_path, class:'prev' %>
          <%= link_to 'Think through the college core critically →', academics_critically_path, class:'next pull-right' %>
        </div>

      </div>
    </div>

  </div>
</div>