<div class="row">

  <article class="application-form col-md-8 col-sm-7 page-row">



  </article>        <!-- TODO:  IMPLEMENT POPULI APPLICATION FORM -->

  <aside class="page-sidebar col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">

    <%= render 'sidebar' %>

  </aside>

</div>