<div class="header landing">

    <div class="top-nav">

        <div class="hamburger-menu box-shadow-menu" id="trigger"></div>
	    
        <%= image_tag('banner-logo.png', id:'rivendell-flag') %>

    </div>

    <div class="begin-container">

        <a class="border-button begin-button" href="./">BEGIN THE JOURNEY</a>

    </div>

</div>