<nav id="mp-menu" class="mp-menu">

    <div class="mp-level">

        <h2 class="icon icon-world">Menu</h2>

        <ul>

            <li><a href="">Your Journey</a></li>

            <li><a href="">Seeking Truth</a></li>

            <li><a href="">Admissions</a></li>

            <li><a href="">Character</a></li>

        </ul>

    </div>

</nav>