<!DOCTYPE html>

<html>

<head>
  <%= render 'layouts/head' %>
</head>

<body>

    <div class="wrapper">

    <!-- HEADER -->
    <header class="header">
        <%= render 'layouts/header' %>
    </header>

    <!-- NAV -->
    <nav class="main-nav" role="navigation">
      <%= render 'layouts/main_nav' %>
    </nav>

    <!-- CONTENT -->


    </div>


</body>



</html>

